# Histórico de sessão R
.Rhistory
.Rapp.history

# Arquivos de dados do R
.RData
.Ruserdata

# Arquivos ocultos do RStudio
.Rproj.user/

# Arquivos de projeto do RStudio
*.Rproj

# Arquivos temporários de processamento de RMarkdown
*-Ex.R

# Arquivos de saída do RMarkdown
/*_cache/
/cache/

# Arquivos temporários de knitr e RMarkdown
**/*.Rmd
!**/*.Rproj.user/

# pacotes do R
# Pacotes são instalações de dependências
# eles não devem ser colocados no repositório
packrat/
renv/
packrat/lib*/
packrat/src*/

# Ambiente do renv
renv/
renv.lock

# Dados produzidos pelo usuário
*-Ex.R
